body {
	font-family: 'Noto Sans SC', sans-serif;
	font-family: 'Noto Serif SC', serif;	
	font-size: 16px; 
}

.post-title, .page-header h1 {
	font-size: 1.6em;
}

.post-content h1 {
	margin: 40px auto 32px;
	font-size: 1.6em;
}

.post-content h2 {
	margin: 32px auto 24px;
	font-size: 1.25em;
}

.post-content h3, h3 {
	font-size: 1.125em;
}

.post-content h4, h4 {
	font-size: 1.05em;
}

.post-content h5, h5 {
	font-size: 1em;
}

.post-content h6, h6 {
	font-size: 0.9em;
}

h2 {
	font-size: 1.25em;
}

/*Change title color*/
:root {
	--primary: DarkSlateGray;
}

.dark {
	--primary: DarkSeaGreen;
}