<head>
  <!-- ... -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v2/dist/waline.css"
  />
  <!-- ... -->
</head>
<body>
  <!-- ... -->
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

    init({
      el: '#waline',
      serverURL: 'https://dainty-blini-35725e.netlify.app/.netlify/functions/comment',
      emoji: [
        'https://cdn.jsdelivr.net/gh/Saidosi/azuki-emoji-for-waline@1.0/azukisan/'],
      search: false,    // GIF 表情包
      reaction: false,  // 文章反应
      requiredMeta: ['nick'],
      pageSize: 10,
      imageUploader: false,
      copyright: true,
      pageview: true,
      like: true,
    });
  </script>
</body>    