<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v2/dist/waline.css"
  />
  <style>
/* change theme color  */
    :root {
      --waline-theme-color: DarkSlateGray;
      --waline-active-color: DarkSeaGreen;

      --waline-badge-color: CadetBlue;
    }

/* emoji scaling */
    .wl-emoji {
      transform-origin: center;
      transition: 150ms ease-out;
    }

    .wl-emoji:hover {
      transform: scale(2);
    }

    .wl-tab .wl-emoji:hover {
      transform: unset;
    }
  </style>
</head>

<body>
  <!-- ... -->
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

    init({
      el: '#waline',
      serverURL: 'https://waline-steel-mu.vercel.app/',
      emoji: [
        'https://cdn.jsdelivr.net/gh/norevi/waline-blobcatemojis@1.0/blobs', 
        'https://cdn.jsdelivr.net/gh/Saidosi/azuki-emoji-for-waline@1.0/azukisan/'],
      search: false,    // GIF 表情包
      reaction: false,  // 文章反应
      requiredMeta: ['nick'],
      pageSize: 10,
      imageUploader: true,
      copyright: true,
      pageview: true,
      like: true,
      avatar: 'monsterid',
    });
  </script>
</body>    
